#heading {
    display: block;
}
#heading a {
    padding-right: 10px;
}
#body {
    display: block;
}
#footer {
    display: block;
}

.error {
    color: red;
}

.address {
    margin-left: 100px;
}

.address table th {
    text-align: left;
}