div.ui-widget-content.ui-corner-all.contacts
    h3.ui-widget-header.ui-corner-all New Contact

    - if (error)
        div.ui-state-error.ui-corner-all
            span.ui-icon.ui-icon-alert
            #{error}
    div
        form(method="post")
            fieldset
                legend new contact
                p
                    label(for="new_name") Name:
                        input(type="text", name="new_name", size="50")
            p.buttons
                input(type="submit", value="Create")
